*{
    margin: 0;
    padding: 0;
}

.container1{
    
    height: 56px;
    width: 100%;
    background-color: #2874f0;
    color: #f0f0f0;
    z-index: 10;
    flex-direction: row;
    position: fixed;
    display: flex;
    align-items: center;
}

.box1{
    /* display: inline; */
    color: #2874f0;
    height: 30px;
    width: 121px;
    font-weight: 600;
    /* text-decoration: bold; */
    background-color: #fff;
    border-radius: 2px;
    /* padding: 5px 40px; */
    margin-left: 623px;
    margin-right: 22px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: .1px;
    font-family: 'Aboreto', Arial, sans-serif;
}

ul{

    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
}


ul li{
    line-height: 20px;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 565;
    color: #fff;
    font-family: 'Aboreto', Arial, sans-serif;
    list-style: none;
    padding: 53px 23px;
}



.logo img{

    /* width: 88px; */
    /* padding: 0 ; */
    /* display: block; */
    
    margin-top: 15px;
    margin-left: 150px;
    /* margin-right: 103px; */
}


.search{

    display: flex;
    align-items: center;
    /* margin: 0.1px; */
    position: absolute;
    margin-left: 288px;

  }

  .search input{

    height: 36px;
    width: 493px;
    font-size: 14px;
    padding: 0 16px;
    /* border-radius: 2px 0 0 2px; */
    /* border-color: white; */
    font-family: 'Aboreto', Arial, sans-serif;
    /* box-sizing: border-box; */
    /* margin-left: 0.px; */
  }

  .search div{

    font-weight: 900;
    /* padding-top: 5px; */
    font-family: 'Aboreto', Arial, sans-serif;
    color: blue;
    background-color:#fff;;
    border-color: #fff;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 490px;


  }

 
.card1{
    
    margin: auto;
    padding-top: 75px;
    padding-left: 115px;
    height: 112px;
    width: 100%;
    background-color: #fff;
    color: #000;
    z-index: 6;
    /* position: relative; */
    display: flex;
    flex-direction: row;
    
    
}

.card-item{

    height: 104px;
    width: 64px;
    position: relative;
    margin: 0px 34px;
    display: inline-flex;
    /* justify-content: center; */
    flex-direction: column;
}

.lines{

    /* padding-top: 65px;
    padding-left: 35px; */
    font-family: 'Aboreto', Arial, sans-serif;
    font-size: 15px;
    line-height: 1.4;
    font-weight: 700;
    display: flex-inline;
    list-style: none;

}

.text-center{
    text-align: center;
}

.cards{

    display: flex;
    flex-direction: row;
    justify-content: center;


}

.slider{

    padding-top: 10px;
    background-color: #dbdbdb;
    height: 323px;
    width: 100vw;
    

}

.slider img{

    margin: 10px;
    height: 290px;
    width: 98vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: auto; */
}

.card3{

    padding-top: 50px;
    background-color: white;
    height: 323px;
    width: 100vw;

    margin: auto;
    padding-left: 115px;
    color: #000;
    display: flex;
    flex-direction: row;
    

}

.card-item1{

    /* height: 304px;
    width: 104px; */
    position: relative;
    margin: 0px 25px;
    display: inline-flex;
    /* justify-content: center; */
    flex-direction: column;
}

.cont{

    display: flex;
    flex-direction: row;
    justify-content: center;


}

.lines1{

    /* padding-top: 65px;
    padding-left: 35px; */
    font-family: 'Aboreto', Arial, sans-serif;
    /* font-size: 15px; */
    line-height: 1.4;
    font-weight: 700;
    display: flex-inline;
    list-style: none;

}


.font1{

    font-size: 14px;
    font-weight: 510px;
    margin-top: 15px;
    text-overflow: ellipsis;
    text-align: center;
    font-family: 'Aboreto', Arial, sans-serif;
    line-height: 30px;
}

.font2{

    font-size: 16px;
    font-weight: 400px;
    margin-top: 15px;
    overflow: hidden;
    /* padding-top: 8px; */
    color: #388e3c;
    text-overflow: ellipsis;
    text-align: center;
    font-family: 'Aboreto', Arial, sans-serif;
    line-height: 30px;
}

.font3{

    font-size: 14px;
    font-weight: 400px;
    margin-top: 15px;
    overflow: hidden;
    /* padding-top: 7px; */
    /* color: #388e3c; */
    text-overflow: ellipsis;
    text-align: center;
    font-family: 'Aboreto', Arial, sans-serif;
    line-height: 30px;
}

.scrollmenu{

    overflow: auto;
    white-space: nowrap;
}


.container3{

    background-color: #2874f0;
    height: 135px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    color: #f0f0f0;
}